
<nav class="navbar navbar-expand-lg navbar-orange bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">Administration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class=" nav justify-content-center " id="navbarScroll">
      
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height:  100px;">
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop Plane</a>

            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li>
                    <a class="dropdown-item" href="{{ path('admin_categorie_index') }}">Créer une catégorie</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin_produits_index') }}">Liste de produits</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('admin_produits_new') }}">Créer un prduit</a>
                </li>
                
               
            </ul>
        </li>
       
      </ul>
    </div>
       <ul class="navbar-nav justify-content-end" id="navbarColor01">
       
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}"> Accueil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>      
  </div>
</nav>

<br>
<br>
<br>


       
