

{# 
<div class="container pt-5 justify-center">
       <h4>"</h4>
</div>
 #}




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">KYMIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class=" nav justify-content-center " id="navbarScroll">
      
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height:  100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('music')}}">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('management')}}">Management</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop Plane
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="{{ path('produits_index') }}">Casquettes</a></li>
            <li><a class="dropdown-item" href="{{ path('categorie_index') }}">T-shirt</a></li>
            <li><a class="dropdown-item" href="{{ path('categorie_index') }}">Veste</a></li>
            <li><a class="dropdown-item" href="{{ path('categorie_index') }}">Pull et Sweat</a></li>
            <li><a class="dropdown-item" href="{{ path('categorie_index') }}">Chaussette</a></li>
          </ul>
        </li>
      </ul>
    </div>


       <ul class="navbar-nav justify-content-end" id="navbarColor01">
        {% if app.user %}

          {% if app.user.roles [0] is same as "ROLE_ADMIN" %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin_home') }}"> Administration</a>
            </li>
          
          {% endif %} 

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
          </li>

        {% endif %} 
         
  </div>
</nav>

<br>
<br>
<br>


       
